.root {
  display: flex;
  align-content: space-evenly;
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2),
              0px 0px 2px 1px rgba(0,0,0,0.14),
              0px 0px 2px 1px rgba(0,0,0,0.12);
  width: 100%;
  padding: 8px;
}

