.title {
  margin-bottom: 8px;
  margin-left: 6px;
  font-size: 14px;
}

.description {
  font-size: 12px;
  font-weight: 300;
  margin-top: 0px;
}

.descriptionWrapper {
  max-height: 130px;
  overflow: scroll;
  margin: auto 6px;
}

.buttonWrapper {
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
}

.cardRoot {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2),
              0px 0px 2px 1px rgba(0,0,0,0.14),
              0px 0px 2px 1px rgba(0,0,0,0.12);
  border-radius: 4px;
  height: 250px;
  width: 200px;
  margin: 8px;
  padding: 4px 8px;
  transition-duration: .5s;

  &:hover {
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2),
                0px 0px 5px 1px rgba(0,0,0,0.14),
                0px 0px 5px 1px rgba(0,0,0,0.12);
  }
}

