
.description {
  font-size: 12px;
  font-weight: 300;
  margin-top: 0px;
}

.descriptionWrapper {
  max-height: 130px;
  overflow: scroll;
  margin: auto 6px;
}

.buttonWrapper {
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
}

.root {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;

  height: 150px;
  margin: 8px;
}

.inputLabel {
  width: 160px;
  margin: 4px 4px;
}

.inputField {
  border: none;
  border-bottom: 1px solid #919191;
  height: 2em;
  margin-bottom: 8px;
}

.inputMultiline {
  height: 75px;
  max-height: 75px;
  max-width: 160px;
  background-color: #d2d2d2;
}

